{% extends "base.html" %}

{% block content %}
<h1>Edit place</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="string") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.owner_id.label }}<br>
        {{ form.owner_id(class="form-control", type="integer") }}<br>
        {% for error in form.owner_id.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.address.label }}<br>
        {{ form.address(class="form-control", type="string") }}<br>
        {% for error in form.address.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}