{% extends "base.html" %}

{% block content %}
<h1>Edit User</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.login.label }}<br>
        {{ form.login(class="form-control", type="string") }}<br>
        {% for error in form.login.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>
        {{ form.is_admin.label }}<br>
        {{ form.is_admin(class="form-control", type="string") }}<br>
        {% for error in form.is_admin.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}