{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<div>
    <h2>Places</h2>
</div>
<div>
    <a href="/logout" class="btn btn-warning">
        {{ current_user.login }}
    </a>
    <table>
        <thead>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>address</td>
            {% if current_user.is_admin %}
            <td>action</td>
            <td>delete</td>
            {%endif%}
        </tr>
        </thead>
        <tbody>
        {% for place in places %}
        <tr>
            <td>
                {{place.id}}
            </td>
            <td>
                {{place.name}}
            </td>
            <td>
                {{place.address}}
            </td>
            {% if current_user.is_admin %}
            <td>
                <a href="/places/{{place.id}}" class="btn btn-warning">
                    Edit
                </a>
            </td>
            <td>
                <a href="/delete/places/{{place.id}}" class="btn btn-warning">
                    Delete
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {%if current_user.is_admin %}
    <a href="/add/places" class="btn btn-warning">
        Add
    </a>
    {%endif%}
</div>
{% endif %}
{% endblock %}